Django==2.1.1
django-cors-headers==2.4.0
django-ipware==2.1.0
pbr==4.3.0
psycopg2==2.7.6.1
pytz==2018.5
six==1.11.0
stevedore==1.29.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
whitenoise==4.1.1
